body {
    margin: 0;
    font-family:"Comic Sans MS",sans-serif ;
    color: #333333;
}

.app-theme-container {
    background-color: #f6f4fa;
    min-height: 100vh;
}

.content-body {
    background-color: #ffffff;
    border: 1px solid #e1d7f2;
    border-radius: 8px;
}

.card-hover {
    border: 1px solid #e1d7f2;
    border-radius: 8px;
    background-color: #ffffff;
}

.card-hover:hover {
    box-shadow: 0 4px 12px rgba(127, 86, 218, 0.1);
}

.list-group-item.active-purple {
    background-color: #7f56da ;
    border-color: #7f56da ;
    color: #ffffff;
    font-weight: 500;
}

.list-group-item-action:hover:not(.active-purple) {
    background-color: #f1ecf9;
    color: #633eb3;
}

.navbar-custom {
    background-color: #ffffff ;
    border-bottom: 1px solid #e1d7f2 ;
}

.navbar-custom .navbar-brand {
    color: #7f56da;
    font-weight: 700;
}


.navbar-custom .nav-link {
    color: #666666 ;
}

.navbar-custom .nav-link:hover {
    color: #7f56da;
}